html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body *,
*:before,
*:after {
    box-sizing: inherit;
}

input,
textarea,
select,
button {
    font-size: 1rem;
    font-family: inherit;
}

body {
    line-height: 1;
}

:root {

    /*------------------------------------------------ ADD BUTTON SECTION START ------------------------------------------------*/
    --add-button-background-color-1: #FF3E4B;
    --add-button-background-color-2: #ff868e;
    --add-button-background-color-3: #ffced2;
    --add-button-background-color-5: #fff8f8;
    --add-button-text-color: #FFFFFF;
    --add-button-border-width: 1px;
    --add-button-border-color-1: #FFFFFF;
    --add-button-border-color-2: #fff;
    --add-button-border-color-3: #fff;
    /*------------------------------------------------ ADD BUTTON SECTION END ------------------------------------------------*/

    /*------------------------------------------------ CONTINUE BUTTON SECTION START ------------------------------------------------*/
    --continue-to-button-background-color-1: #FF3E4B;
    --continue-to-button-background-color-2: #ff868e;
    --continue-to-button-background-color-3: #ffced2;
    --continue-to-button-background-color-5: #fff8f8;
    --continue-to-button-text-color: #FFFFFF;
    --continue-to-button-border-width: 1px;
    --continue-to-button-border-color-1: #FFFFFF;
    --continue-to-button-border-color-2: #fff;
    --continue-to-button-border-color-3: #fff;
    /*------------------------------------------------ CONTINUE BUTTON SECTION END ------------------------------------------------*/

    /*------------------------------------------------ REJECT BUTTON SECTION START ------------------------------------------------*/

    --reject-button-background-color-1: #333333;
    --reject-button-background-color-2: #7f7f7f;
    --reject-button-background-color-3: #ccc;
    --reject--button-background-color-5: #f7f7f7;
    --reject-button-text-color: #FFFFFF;
    --reject-button-border-width: 1px;
    --reject-button-border-color-1: #FFFFFF;
    --reject-button-border-color-2: #fff;
    --reject-button-border-color-3: #fff;


    /*------------------------------------------------ REJECT BUTTON SECTION END ------------------------------------------------*/


    --primary-color-1: var(--add-button-background-color-1);
    --primary-color-2: var(--add-button-background-color-2);
    --primary-color-3: var(--add-button-background-color-3);
    --primary-color-5: var(--add-button-background-color-5);
    --readable-primary-color: var(--add-button-text-color);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset,
ol,
ul {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e6e6e6
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    color: #a0aec0
}

[role=button],
button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

.container {
    width: 100%
}

@media (min-width:487px) {
    .container {
        max-width: 487px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 992px
    }
}

.space-y-10>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(1rem*(1 - var(--space-y-reverse)));
    margin-bottom: calc(1rem*var(--space-y-reverse))
}

.appearance-none {
    -webkit-appearance: none;
    appearance: none
}

.bg-transparent {
    background-color: hsla(0, 0%, 100%, 0)
}

.bg-primary-5 {
    background-color: var(--primary-color-5)
}

.bg-addButtonBackgroundColor-1 {
    background-color: var(--add-button-background-color-1)
}

.bg-addButtonBackgroundColor-3 {
    background-color: var(--add-button-background-color-3)
}

.bg-continueToButtonBackgroundColor-1 {
    background-color: var(--continue-to-button-background-color-1)
}

.bg-continueToButtonBackgroundColor-3 {
    background-color: var(--continue-to-button-background-color-3)
}

.bg-rejectButtonBackgroundColor-1 {
    background-color: var(--reject-button-background-color-1)
}

.bg-rejectButtonBackgroundColor-3 {
    background-color: var(--reject-button-background-color-3)
}

.bg-black {
    --bg-opacity: 1;
    background-color: #000;
    background-color: rgba(0, 0, 0, var(--bg-opacity))
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.bg-red {
    --bg-opacity: 1;
    background-color: #dc143c;
    background-color: rgba(220, 20, 60, var(--bg-opacity))
}

.bg-grey-4 {
    --bg-opacity: 1;
    background-color: #e6e6e6;
    background-color: rgba(230, 230, 230, var(--bg-opacity))
}

.bg-grey-5 {
    --bg-opacity: 1;
    background-color: #f7f7f7;
    background-color: rgba(247, 247, 247, var(--bg-opacity))
}

.bg-grey-placeholder {
    --bg-opacity: 1;
    background-color: #dfe3e8;
    background-color: rgba(223, 227, 232, var(--bg-opacity))
}

.bg-blue-dark {
    --bg-opacity: 1;
    background-color: #006fbb;
    background-color: rgba(0, 111, 187, var(--bg-opacity))
}

.hover\:bg-addButtonBackgroundColor-2:hover {
    background-color: var(--add-button-background-color-2)
}

.hover\:bg-continueToButtonBackgroundColor-2:hover {
    background-color: var(--continue-to-button-background-color-2)
}

.hover\:bg-rejectButtonBackgroundColor-2:hover {
    background-color: var(--reject-button-background-color-2)
}

.bg-none {
    background-image: none
}

.bg-gradient-to-t {
    background-image: linear-gradient(0deg, var(--gradient-color-stops))
}

.from-white {
    --gradient-from-color: #fff;
    --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, hsla(0, 0%, 100%, 0))
}

.via-white {
    --gradient-via-color: #fff;
    --gradient-color-stops: var(--gradient-from-color), var(--gradient-via-color), var(--gradient-to-color, hsla(0, 0%, 100%, 0))
}

.to-transparent {
    --gradient-to-color: hsla(0, 0%, 100%, 0)
}

.bg-opacity-10 {
    --bg-opacity: 0.1
}

.bg-opacity-50 {
    --bg-opacity: 0.5
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.border-primary-1 {
    border-color: var(--primary-color-1)
}

.border-addButtonBorderColor-1 {
    border-color: var(--add-button-border-color-1)
}

.border-addButtonBorderColor-3 {
    border-color: var(--add-button-border-color-3)
}

.border-continueToButtonBorderColor-1 {
    border-color: var(--continue-to-button-border-color-1)
}

.border-continueToButtonBorderColor-3 {
    border-color: var(--continue-to-button-border-color-3)
}

.border-rejectButtonBorderColor-1 {
    border-color: var(--reject-button-border-color-1)
}

.border-rejectButtonBorderColor-3 {
    border-color: var(--reject-button-border-color-3)
}

.border-white {
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity))
}

.border-grey-2 {
    --border-opacity: 1;
    border-color: #7f7f7f;
    border-color: rgba(127, 127, 127, var(--border-opacity))
}

.border-grey-4 {
    --border-opacity: 1;
    border-color: #e6e6e6;
    border-color: rgba(230, 230, 230, var(--border-opacity))
}

.hover\:border-addButtonBorderColor-2:hover {
    border-color: var(--add-button-border-color-2)
}

.hover\:border-continueToButtonBorderColor-2:hover {
    border-color: var(--continue-to-button-border-color-2)
}

.hover\:border-rejectButtonBorderColor-2:hover {
    border-color: var(--reject-button-border-color-2)
}

.rounded-sm {
    border-radius: 5px
}

.rounded-full {
    border-radius: 50%
}

.rounded-bl-sm {
    border-bottom-left-radius: 5px
}

.border-none {
    border-style: none
}

.border-0 {
    border-width: 0
}

.border {
    border-width: 1px
}

.border-addButtonBorderWidth {
    border-width: var(--add-button-border-width)
}

.border-rejectButtonBorderWidth {
    border-width: var(--reject-button-border-width)
}

.border-continueToButtonBorderWidth {
    border-width: var(--continue-to-button-border-width)
}

.border-t-0 {
    border-top-width: 0
}

.border-t {
    border-top-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.cursor-default {
    cursor: default
}

.cursor-pointer {
    cursor: pointer
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.hidden {
    display: none
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.flex-1 {
    flex: 1 1 0%
}

.flex-grow {
    flex-grow: 1
}

.order-1 {
    order: 1
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-8 {
    height: .8rem
}

.h-10 {
    height: 1rem
}

.h-15 {
    height: 1.5rem
}

.h-20 {
    height: 2rem
}

.h-40 {
    height: 4rem
}

.h-50 {
    height: 5rem
}

.h-70 {
    height: 7rem
}

.h-full {
    height: 100%
}

.h-half {
    height: 50%
}

.h-mobileImageSmall {
    height: 100px
}

.h-mobileImageMedium {
    height: 125px
}

.h-mobileImageLarge {
    height: 150px
}

.h-mobileIconSmall {
    height: 40px
}

.h-mobileIconMedium {
    height: 50px
}

.h-mobileIconLarge {
    height: 60px
}

.text-xs {
    font-size: 12px;
    line-height: 16px
}

.text-sm {
    font-size: 13px;
    line-height: 18px
}

.text-md {
    font-size: 14px;
    line-height: 20px
}

.text-lg-s {
    font-size: 18px;
    line-height: 28px
}

.text-lg {
    font-size: 20px;
    line-height: 28px
}

.leading-tight {
    line-height: 1.25
}

.leading-snug {
    line-height: 1.375
}

.list-none {
    list-style-type: none
}

.m-8 {
    margin: .8rem
}

.m-auto {
    margin: auto
}

.my-8 {
    margin-top: .8rem;
    margin-bottom: .8rem
}

.mx-15 {
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.my-none {
    margin-top: 0;
    margin-bottom: 0
}

.mr-4 {
    margin-right: .4rem
}

.mb-4 {
    margin-bottom: .4rem
}

.ml-4 {
    margin-left: .4rem
}

.mr-8 {
    margin-right: .8rem
}

.mt-10 {
    margin-top: 1rem
}

.mr-10 {
    margin-right: 1rem
}

.mb-10 {
    margin-bottom: 1rem
}

.ml-10 {
    margin-left: 1rem
}

.mr-15 {
    margin-right: 1.5rem
}

.mt-20 {
    margin-top: 2rem
}

.ml-20 {
    margin-left: 2rem
}

.mt-25 {
    margin-top: 2.5rem
}

.mb-auto {
    margin-bottom: auto
}

.-mt-8 {
    margin-top: -.8rem
}

.-mr-8 {
    margin-right: -.8rem
}

.-mb-10 {
    margin-bottom: -1rem
}

.max-w-50 {
    max-width: 5rem
}

.max-w-full {
    max-width: 100%
}

.max-w-md {
    max-width: 500px
}

.max-w-lg {
    max-width: 800px
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.object-scale-down {
    -o-object-fit: scale-down;
    object-fit: scale-down
}

.opacity-0 {
    opacity: 0
}

.opacity-50 {
    opacity: .5
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-hidden {
    overflow-x: hidden
}

.p-15 {
    padding: 1.5rem
}

.py-4 {
    padding-top: .4rem;
    padding-bottom: .4rem
}

.py-8 {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.px-8 {
    padding-left: .8rem;
    padding-right: .8rem
}

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-45 {
    padding-left: 4.5rem;
    padding-right: 4.5rem
}

.pr-10 {
    padding-right: 1rem
}

.pb-10 {
    padding-bottom: 1rem
}

.pr-15 {
    padding-right: 1.5rem
}

.pl-15 {
    padding-left: 1.5rem
}

.pr-16 {
    padding-right: 1.6rem
}

.pl-16 {
    padding-left: 1.6rem
}

.pt-20 {
    padding-top: 2rem
}

.pr-20 {
    padding-right: 2rem
}

.pl-20 {
    padding-left: 2rem
}

.pr-25 {
    padding-right: 2.5rem
}

.pb-30 {
    padding-bottom: 3rem
}

.pb-70 {
    padding-bottom: 7rem
}

.pb-none {
    padding-bottom: 0
}

.last\:pb-20:last-child {
    padding-bottom: 2rem
}

.last\:pb-none:last-child {
    padding-bottom: 0
}

.placeholder-grey-1::placeholder {
    --placeholder-opacity: 1;
    color: #333;
    color: rgba(51, 51, 51, var(--placeholder-opacity))
}

.pointer-events-none {
    pointer-events: none
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-8 {
    right: .8rem
}

.top-15 {
    top: 1.5rem
}

.right-15 {
    right: 1.5rem
}

.-left-14 {
    left: -1.4rem
}

.top-half {
    top: 50%
}

.shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05)
}

.focus\:shadow-none:focus {
    box-shadow: none
}

.fill-current {
    fill: currentColor
}

.stroke-white {
    stroke: #fff
}

.stroke-blue-light {
    stroke: #1e78e8
}

.stroke-green {
    stroke: #50b83c
}

.stroke-2 {
    stroke-width: 2
}

.stroke-5 {
    stroke-width: 5
}

.text-center {
    text-align: center
}

.text-readableAddButtonTextColor {
    color: var(--add-button-text-color)
}

.text-readableContinueToButtonTextColor {
    color: var(--continue-to-button-text-color)
}

.text-readableRejectButtonTextColor {
    color: var(--reject-button-text-color)
}

.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.text-grey-1 {
    --text-opacity: 1;
    color: #333;
    color: rgba(51, 51, 51, var(--text-opacity))
}

.text-grey-2 {
    --text-opacity: 1;
    color: #7f7f7f;
    color: rgba(127, 127, 127, var(--text-opacity))
}

.text-grey-3 {
    --text-opacity: 1;
    color: #ccc;
    color: rgba(204, 204, 204, var(--text-opacity))
}

.text-blue-dark {
    --text-opacity: 1;
    color: #006fbb;
    color: rgba(0, 111, 187, var(--text-opacity))
}

.hover\:text-grey-2:hover {
    --text-opacity: 1;
    color: #7f7f7f;
    color: rgba(127, 127, 127, var(--text-opacity))
}

.focus\:text-grey-1:focus {
    --text-opacity: 1;
    color: #333;
    color: rgba(51, 51, 51, var(--text-opacity))
}

.uppercase {
    text-transform: uppercase
}

.line-through {
    text-decoration: line-through
}

.visible {
    visibility: visible
}

.break-normal {
    overflow-wrap: normal;
    word-break: normal
}

.break-all {
    word-break: break-all
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.w-15 {
    width: 1.5rem
}

.w-18 {
    width: 1.8rem
}

.w-20 {
    width: 2rem
}

.w-50 {
    width: 5rem
}

.w-70 {
    width: 7rem
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.w-5\/6 {
    width: 83.333333%
}

.w-9\/12 {
    width: 75%
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-mobileImageSmall {
    width: 100px
}

.w-mobileImageMedium {
    width: 125px
}

.w-mobileImageLarge {
    width: 150px
}

.w-mobileIconSmall {
    width: 40px
}

.w-mobileIconMedium {
    width: 50px
}

.w-mobileIconLarge {
    width: 60px
}

.first\:w-11\/12:first-child {
    width: 91.666667%
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-1000000 {
    z-index: 1000000
}

.z-1000001 {
    z-index: 1000001
}

.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}

.origin-center {
    transform-origin: center
}

.rotate-180 {
    --transform-rotate: 180deg
}

.-translate-y-10 {
    --transform-translate-y: -1rem
}

.-translate-y-1\/2 {
    --transform-translate-y: -50%
}

.transition-all {
    transition-property: all
}

.transition-colors {
    transition-property: background-color, border-color, color, fill, stroke
}

.transition-opacity {
    transition-property: opacity
}

.duration-100 {
    transition-duration: .1s
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes ping {

    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes bounce {

    0%,
    to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

html {
    font-size: 62.5%
}

img {
    max-width: none
}

:root {
    --focus-outline: 0 0 0 2px #1e78e8;
    --header-height: 66px;
    --footer-height: 146px
}

.Upsell-List li:last-child>span {
    border-left-width: 1px
}

.Upsell-List li:last-child>div {
    margin-bottom: 0
}

@media (min-width:768px) {
    .Upsell-Line-Tree {
        height: 53px
    }

    .Upsell-Line-Tree-Large {
        height: 78px
    }

    .Button-Add {
        width: max-content
    }
}

@keyframes animated-stroke {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes animated-scale {

    0%,
    to {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes animated-checkmark-fill {
    to {
        box-shadow: inset 0 0 0 30px #50b83c
    }
}

@keyframes animated-arrow-stroke {
    90% {
        transform: translateY(-3px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes animated-arrow-fill {
    to {
        box-shadow: inset 0 0 0 30px #0075eb
    }
}

@keyframes polaris-SkeletonShimmerAnimation {
    0% {
        opacity: .45
    }

    to {
        opacity: .9
    }
}

.animated-checkmark--finished {
    box-shadow: inset 0 0 0 30px #50b83c
}

.animated-arrow--finished {
    box-shadow: inset 0 0 0 30px #0075eb
}

.animated-arrow--finished>circle,
.animated-arrow--finished>path,
.animated-checkmark--finished>circle,
.animated-checkmark--finished>path {
    stroke-dashoffset: 0;
    transform: translate(0)
}

.checkmark_wrapper {
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #50b83c;
    animation: animated-checkmark-fill .4s ease-in-out .4s forwards, animated-scale .3s ease-in-out .9s both
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-miterlimit: 10;
    fill: none;
    animation: animated-stroke .6s cubic-bezier(.65, 0, .45, 1)
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: animated-stroke .3s cubic-bezier(.65, 0, .45, 1) .8s forwards
}

.arrow_wrapper {
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #0075eb;
    animation: animated-arrow-fill .4s ease-in-out .4s forwards, animated-scale .3s ease-in-out .9s both
}

.arrow__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-miterlimit: 10;
    fill: none;
    animation: animated-stroke .6s cubic-bezier(.65, 0, .45, 1) forwards
}

.arrow__arrow {
    transform: translateY(18px);
    animation: animated-arrow-stroke .4s linear .6s forwards
}

.Subtitle,
.Title {
    overflow-wrap: anywhere;
    word-break: normal
}

.Polaris-Skeleton {
    animation: polaris-SkeletonShimmerAnimation .8s linear infinite alternate
}

.Detail-Icon {
    height: 40vw
}

.Detail-Main-Image {
    height: calc(100vw - 60px)
}

.Description * {
    max-width: 100%
}

.simplebar-scrollbar:before {
    opacity: .5;
    right: 4px !important;
    top: 4px !important;
    bottom: 4px !important;
    left: 0 !important
}

.simplebar-offset {
    max-width: 100%
}

.Main-Content,
.Main-Content-Detail {
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-grow: 1
}

.Main-Content-Detail {
    max-height: calc(100% - var(--header-height))
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    display: none;
    background-color: transparent
}

@media (orientation:portrait) {
    .Main-Content>[data-simplebar] {
        max-height: calc(100vh - 70px - var(--footer-height) - var(--header-height))
    }
}

@media (orientation:landscape) {
    .Main-Content>[data-simplebar] {
        max-height: 56vh
    }
}

.Main-Content-Detail>[data-simplebar] {
    max-height: calc(100vh - 146px)
}

@media (min-width:992px) {
    .Main-Content>[data-simplebar] {
        max-height: calc(100vh - 298px)
    }

    .Main-Content-Detail>[data-simplebar] {
        max-height: calc(100vh - 236px)
    }
}

input:disabled,
select:disabled {
    opacity: 1
}

.Offer-Description--enabled:hover .Product-Title,
.Offer-Icon-Wrapper:hover+div .Product-Title {
    --text-opacity: 1;
    color: #7f7f7f;
    color: rgba(127, 127, 127, var(--text-opacity))
}

.Offer-Icon-Wrapper:hover .Icon-Overlay {
    opacity: 1%
}

input,
textarea {
    color: #212b36
}

.Upsell-Item:last-child .Tree__line--admin,
.Upsell-Item:last-child .Tree__line--horizontal {
    height: 100%;
    transform: translateY(-100%);
    border-left-width: 1px;
    left: -1.5rem
}

.Upsell-Item:last-child .Tree__line--admin {
    height: 120%
}

@media (min-width:768px) {
    .Upsell-Item:only-of-type {
        padding-top: 2.5rem !important
    }
}

#modal-container {
    min-height: 320px
}

.Product-Detail-Modal .simplebar-content {
    min-height: 400px
}

.button--loading {
    width: 40px;
    border-width: 3px;
    font-size: 0;
    border-left-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    animation: rotating .75s linear .25s infinite
}

@keyframes rotating {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

input.Quantity-Selector::-webkit-inner-spin-button,
input.Quantity-Selector::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input.Quantity-Selector {
    -moz-appearance: textfield
}

@media (min-width:487px) {
    .sm\:container {
        width: 100%;
        max-width: 487px
    }

    @media (min-width:768px) {
        .sm\:container {
            max-width: 768px
        }
    }

    @media (min-width:992px) {
        .sm\:container {
            max-width: 992px
        }
    }
}

@media (min-width:768px) {
    .md\:container {
        width: 100%
    }

    @media (min-width:487px) {
        .md\:container {
            max-width: 487px
        }
    }

    @media (min-width:768px) {
        .md\:container {
            max-width: 768px
        }
    }

    @media (min-width:992px) {
        .md\:container {
            max-width: 992px
        }
    }

    .md\:space-y-none>:not(template)~:not(template) {
        --space-y-reverse: 0;
        margin-top: calc(0 - var(--space-y-reverse)*0);
        margin-bottom: calc(var(--space-y-reverse)*0)
    }

    .md\:border-l {
        border-left-width: 1px
    }

    .md\:last\:border-0:last-child {
        border-width: 0
    }

    .md\:block {
        display: block
    }

    .md\:inline-block {
        display: inline-block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:items-start {
        align-items: flex-start
    }

    .md\:items-stretch {
        align-items: stretch
    }

    .md\:justify-end {
        justify-content: flex-end
    }

    .md\:justify-center {
        justify-content: center
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:h-15 {
        height: 1.5rem
    }

    .md\:h-50 {
        height: 5rem
    }

    .md\:h-150 {
        height: 15rem
    }

    .md\:h-250 {
        height: 25rem
    }

    .md\:h-desktopImageSmall {
        height: 50px
    }

    .md\:h-desktopImageMedium {
        height: 75px
    }

    .md\:h-desktopImageLarge {
        height: 100px
    }

    .md\:h-desktopIconSmall {
        height: 25px
    }

    .md\:h-desktopIconMedium {
        height: 37px
    }

    .md\:h-desktopIconLarge {
        height: 50px
    }

    .md\:mx-20 {
        margin-left: 2rem;
        margin-right: 2rem
    }

    .md\:mt-4 {
        margin-top: .4rem
    }

    .md\:mt-10 {
        margin-top: 1rem
    }

    .md\:mr-30 {
        margin-right: 3rem
    }

    .md\:ml-50 {
        margin-left: 5rem
    }

    .md\:ml-250 {
        margin-left: 25rem
    }

    .md\:mt-auto {
        margin-top: auto
    }

    .md\:mt-none {
        margin-top: 0
    }

    .md\:mr-none {
        margin-right: 0
    }

    .md\:mb-none {
        margin-bottom: 0
    }

    .md\:min-w-250 {
        min-width: 25rem
    }

    .md\:min-w-300 {
        min-width: 30rem
    }

    .md\:overflow-y-auto {
        overflow-y: auto
    }

    .md\:px-25 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .md\:pt-4 {
        padding-top: .4rem
    }

    .md\:pt-10 {
        padding-top: 1rem
    }

    .md\:pt-15 {
        padding-top: 1.5rem
    }

    .md\:pl-15 {
        padding-left: 1.5rem
    }

    .md\:pb-20 {
        padding-bottom: 2rem
    }

    .md\:pr-25 {
        padding-right: 2.5rem
    }

    .md\:pt-28 {
        padding-top: 2.8rem
    }

    .md\:pl-30 {
        padding-left: 3rem
    }

    .md\:pb-40 {
        padding-bottom: 4rem
    }

    .md\:pr-45 {
        padding-right: 4.5rem
    }

    .md\:pr-none {
        padding-right: 0
    }

    .md\:last\:pb-none:last-child,
    .md\:pb-none {
        padding-bottom: 0
    }

    .md\:first\:pt-25:first-child {
        padding-top: 2.5rem
    }

    .md\:absolute {
        position: absolute
    }

    .md\:relative {
        position: relative
    }

    .md\:right-0 {
        right: 0
    }

    .md\:w-15 {
        width: 1.5rem
    }

    .md\:w-210 {
        width: 21rem
    }

    .md\:w-250 {
        width: 25rem
    }

    .md\:w-auto {
        width: auto
    }

    .md\:w-full {
        width: 100%
    }

    .md\:w-desktopImageSmall {
        width: 50px
    }

    .md\:w-desktopImageMedium {
        width: 75px
    }

    .md\:w-desktopImageLarge {
        width: 100px
    }

    .md\:w-desktopIconSmall {
        width: 25px
    }

    .md\:w-desktopIconMedium {
        width: 37px
    }

    .md\:w-desktopIconLarge {
        width: 50px
    }
}

@media (min-width:992px) {
    .lg\:container {
        width: 100%
    }

    @media (min-width:487px) {
        .lg\:container {
            max-width: 487px
        }
    }

    @media (min-width:768px) {
        .lg\:container {
            max-width: 768px
        }
    }

    @media (min-width:992px) {
        .lg\:container {
            max-width: 992px
        }
    }

    .lg\:text-lg {
        font-size: 20px;
        line-height: 28px
    }

    .lg\:text-xl {
        font-size: 22px;
        line-height: 28px
    }

    .lg\:my-auto {
        margin-top: auto;
        margin-bottom: auto
    }

    .lg\:py-80 {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
}

@media (max-width:991px) {
    .lg-max\:container {
        width: 100%
    }

    @media (min-width:487px) {
        .lg-max\:container {
            max-width: 487px
        }
    }

    @media (min-width:768px) {
        .lg-max\:container {
            max-width: 768px
        }
    }

    @media (min-width:992px) {
        .lg-max\:container {
            max-width: 992px
        }
    }
}

@media (min-width:992px) and (min-height:560px) {
    .hw-lg\:container {
        width: 100%
    }

    @media (min-width:487px) {
        .hw-lg\:container {
            max-width: 487px
        }
    }

    @media (min-width:768px) {
        .hw-lg\:container {
            max-width: 768px
        }
    }

    @media (min-width:992px) {
        .hw-lg\:container {
            max-width: 992px
        }
    }
}

@media (pointer:coarse) {
    .pointer\:container {
        width: 100%
    }

    @media (min-width:487px) {
        .pointer\:container {
            max-width: 487px
        }
    }

    @media (min-width:768px) {
        .pointer\:container {
            max-width: 768px
        }
    }

    @media (min-width:992px) {
        .pointer\:container {
            max-width: 992px
        }
    }

    .pointer\:text-md-mobile {
        font-size: 16px;
        line-height: 20px
    }
}

[data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit
}

.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0
}

.simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0
}

.simplebar-content:after,
.simplebar-content:before {
    content: ' ';
    display: table
}

.simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none
}

.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0
}

.simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden
}

[data-simplebar].simplebar-dragging .simplebar-content {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none
}

[data-simplebar].simplebar-dragging .simplebar-track {
    pointer-events: all
}

.simplebar-scrollbar {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 10px
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: #000;
    border-radius: 7px;
    left: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .2s linear
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: .5;
    transition: opacity 0s linear
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 11px
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px
}

.simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto
}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
    right: auto;
    left: 0
}

.hs-dummy-scrollbar-size {
    direction: rtl;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll
}

.simplebar-hide-scrollbar {
    position: fixed;
    left: 0;
    visibility: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
}